/* Font-Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


/* Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Variables globales */
:root {
    --primary-color: #fa573a;
    --black-color: #242424;
    --padding-horizontal: 19%;
}

/* Elements */
ul,
ol {
    list-style-type: none;
}

i {
    color: var(--primary-color);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    font-weight: bold;
}


/* Header */
.info-bar {
    --bg-color: #21242e;
    background-color: var(--bg-color);
    color: white;
    padding: 0.5% var(--padding-horizontal);

    .list {
        display: flex;
        justify-content: space-between;
        background-color: var(--bg-color);
    }
}

.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5% var(--padding-horizontal);

    .list {
        display: flex;
        justify-content: space-around;

        .item {
            margin-left: 2rem;
            font-size: 1.3rem;
            color: grey;
        }
    }

    .logo {
        font-size: 2rem;
        font-weight: bold;

        .point {
            color: var(--primary-color);
        }
    }
}

/* Main */
/* take-action */
.take-action {
    color: white;
    background-color: var(--black-color);
    display: flex;
    flex-direction: column;
    padding: 5% var(--padding-horizontal);
    position: relative;
    z-index: 1;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('imagenes/fondo.jpg');
        background-size: cover;
        background-position: center;
        opacity: 0.4;
        z-index: -1;
    }

    & * {
        padding: 0.5rem;
    }

    .title {
        font-size: 2rem;
    }

    .greeting {
        font-size: 1.6rem;
        color: var(--primary-color);
        font-weight: bold;
    }

    .price {
        margin-bottom: 0.7rem;
    }

    .button {
        width: 15rem;
        padding: 1rem;
        margin-left: 0.5rem;
    }

    .social-media {
        display: flex;
        width: 15rem;
        justify-content: space-between;
    }

    i {
        font-size: 2rem;
        color: inherit;
    }
}