/* Font-Awesome */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css');


/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

/* Variables globales */
:root {
    --primary-color: #fa573a;
    --black-color: #242424;
    --padding-horizontal: 19%;
}

/* Elements */
ul,
ol {
    list-style-type: none;
}

i {
    color: var(--primary-color);
}


/* Header */
.info-bar {
    --bg-color: #21242e;
    background-color: var(--bg-color);
    color: white;
    padding: 0.5% var(--padding-horizontal);

    .list {
        display: flex;
        justify-content: space-between;
        background-color: var(--bg-color);
    }
}

.nav-bar {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5% var(--padding-horizontal);

    .list {
        display: flex;
        justify-content: space-around;

        .item {
            margin-left: 1.6rem;
            font-size: 1.3rem;
            color: grey;
        }
    }

    .logo {
        font-size: 2rem;
        font-weight: bold;

        .point {
            color: var(--primary-color);
        }
    }
}